.img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  text-align: center;
  text-shadow: 1px 1px 1px #323a41;
  font-size: 3vh;
}

.img-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
}

.img-wrapper:hover .img-desc {
  visibility: visible;
  opacity: 1;
}

.displayimg {
  border-radius: 10px;
}

.displayimg:hover {
  filter: blur(2px);
}

/*1050px MEDIA Q   */
@media (max-width: 1536px) {
  .img-wrapper {
    width: 95%;
  }
}
